#buttons li {
    float: left;
    color: #fff;
    background-color: #8f8e8e;
    list-style: none;
    text-align: center;
    border-radius: 8px;
    font-size: large;
    margin-right: 30px;
    width: 150px;
    line-height: 60px;
}
.home {
    display: flexbox;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.home_all {
    text-align: center;
    color: #fff;
    background-color: #ccb29b;
}
.playout-container {
    width: 100%;
    height: auto;
}