#buttons li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: #00000020;
    margin-right: 30px;
    width: 150px;
    line-height: 60px;
}
.home {
    display: flexbox;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-direction: row;
}
.home_all {
    text-align: center;
}