<div class="register-container">
    <h2>Création de compte</h2>
    
    <form class="register-champs">
        <mat-form-field class="register-champs-field">
            <mat-label>Nom</mat-label>
            <input required matInput="Nom">
        </mat-form-field>
        <mat-form-field class="register-champs-field">
            <mat-label>Prénom</mat-label>
            <input required matInput="prénom">
        </mat-form-field>
        <mat-form-field class="login-champs-field">
            <mat-label>Email</mat-label>
            <input matInput placeholder="indian.f@example.com" required matInput="email">
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="register-champs-field">
            <mat-label>Téléphone</mat-label>
            <input required matInput="téléphone">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
   
    <button mat-raised-button color="primary" routerLink="/auth/login">Se connecter</button>
</form>
</div>