<div class="facture-container">
    <h2>Facture de votre commende</h2>

    <p>Date {{today | date}}</p>

    <table class="facture-table">
        <tr>
            <th>Menu</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Extra naan</td>
            <td>5</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Green Curry</td>
            <td>2</td>
            <td>16</td>
        </tr>
        <tr>
            <td>Chiken Curry</td>
            <td>3</td>
            <td>21</td>
        </tr>
    </table>
</div>
