<div class="toast-container slide-in" [ngStyle]="{'background-color': bgColor, 'color': color}"
    [ngClass]="{'toast-container-large-size': isLargeSize}">
    <div class="progress-bar">
        <mat-progress-bar color="accent" mode="query"></mat-progress-bar>
    </div>
    <div class="toast-content">
        <p class="message">{{message}} <span *ngIf="checkMessageSize(message)"><mat-icon
                    class="settings-ethernet hover-opacity"
                    (click)="editSizeOfToasts()">settings_ethernet</mat-icon></span></p>
    </div>
</div>