<div class="app-container">
    <section>
        <div class="example-label">ROOT Color</div>
        <div class="example-color-row">
            <div class="color-card" id="ccb29b">#ccb29b</div>
            <div class="color-card" id="Five45454">#545454</div>
            <div class="color-card" id="fff">#fff</div>
            <div class="color-card" id="d4d4d4">#d4d4d4</div>
            <div class="color-card" id="Eightf8e8e">#8f8e8e</div>
            <div class="color-card" id="fad699">#fad699</div>
            <div class="color-card" id="f8b94d">#f8b94d</div>
        </div>
    </section>
    <section>
        <div class="example-label">Raised Button</div>
        <div class="example-button-row">
            <button mat-raised-button>Basic</button>
            <button mat-raised-button color="primary">Primary</button>
            <button mat-raised-button color="accent">Accent</button>
            <button mat-raised-button color="warn">Warn</button>
            <button mat-raised-button disabled>Disabled</button>
            <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
    </section>
</div>
